* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
}

header {
    width: 100%;
    height: 550px;
    background-color: #0d325a;
    background-image: url("../img/background-header.png");
    background-repeat: no-repeat;
    background-size: 1000px;
    background-position: 110% 110%;
    position: relative;
}

.container {
    width: 80%;
    margin: 0 auto;
}


.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.logo {
    background-image: url("../img/logo.svg");
    width: 170px;
    height: 100px;
    background-repeat: no-repeat;
    float: left;
}

.left {
    width: 550px;
    float: left;
    line-height: 40px;
    color: white;
}

.left ul li {
    display: inline-block;
    padding-right: 22px;
    font-size: 13px;
}


/*INIZIO COLONNA DESTRA*/
.right {
    width: 400px;
    float: left;
    line-height: 40px;
    padding-left: 5px;
}

.right nav ul li {
    display: inline-block;
    color: white;
}

.right a {
    font-size: 13px;
    padding-right: 12px;
    text-decoration: none;
    color: white;
}

.login {
    border: 1px solid white;
    padding: 5px 15px;
}

.pulsante {
    padding-left: 10px;
    background-color: yellowgreen;
    padding: 8px;
    border-radius: 2px;
}
/*FINE COLONNA DESTRA*/


.text {
    color: white;
    position: absolute;
    bottom: 210px;
    left: 160px;
}

.text a {
    display: inline-block;
    width: 140px;
    height: 40px;
    background-color: yellowgreen;
    margin-top: 20px;
    padding: 10px 10px;
    text-decoration: none;
    color: white;
    border-radius: 2px;
}


/*INIZIO RIGA MAIN*/
.row-top {
    width: 100%;
    height: 150px;
    background-color: rgb(184, 184, 184);
    text-align: center;
}

.row-top__container {
    margin: auto;
    padding-top: 50px;
}